.download{
    padding: 0 1.4em;
    margin-top: 1.2em;
    &__tit{
        display: inline-block;
        width: 70%;
        font-family: 'inter-regular';
        font-size: 1rem;
    }
    &__btn{
        display: inline-block;
        background-color: #F0F2F5;
        width: 7.188em;
        height: 2.5em;
        text-align: center;
        align-content: center;
        border-radius: 0.75em;
        font-family: 'inter-medium';
        font-size: 0.88rem;
        &:hover{
            cursor: pointer;
            border: 2px solid black;
        }
    }
}