.btndiscovermore{
    width: fit-content;
    height: 2.885em;
    padding: 0 5em;
    background-color: #F0F2F5;
    border-radius: 0.75em;
    margin: 0 auto;
    margin-bottom: 4em;
    text-align: center;
    align-content: center;
    color: black; 
    &:hover{
        cursor: pointer;
    }
    &__span{
        font-family: 'inter-bold';
        font-size: 0.88rem;
    }
}