.favorite{
    text-align: -webkit-right;
    right: 0;
    margin-left: .6em;
    margin-top: .6em;
    position: absolute;
    z-index: 1000;
    width: 40px;
    height: 40px;
    align-content: center;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
    &__img{
        width: 25px;
        height: 35px;
    }
}