.btngrouphome{
    text-align: -webkit-right;
    margin-left: .6em;
    margin-top: .6em;
    position: absolute;
    z-index: 1000;
    &__like, &__download{
        width: 40px;
        height: 40px;
        border-radius: 0.563em;
        background-color: rgba($color: #D9D9D9, $alpha: 40%);
        position: relative;
        align-content: center;
        &:hover{
            cursor: pointer;
            scale: 1.1;
        }
        &__img{
            display: block;
            margin: 0 auto;
            width: 25px;
            height: 25px;
        }
    }
    &__like{
        margin-bottom: .4em;
        position: relative;
    }
}