.duoSlider{
    width: 100%;
    margin: 0 auto;
    display: none;
    text-align: center;
    margin-top: 1em;
    font-family: 'inter-medium';
    &__spanwidth{
        display: inline-block;
        vertical-align: top;
    }
    &__spanheight{
        display: inline-block;
        vertical-align: top;
    }
}
