.images{
    width: 100%;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
    padding-top: 1em;
    &__image{
        width: 100%;
        margin-bottom: 10px;
        break-inside: avoid;
        position: relative;
        &__img{
            max-width: 100%;
            border-radius: 15px;
        }
    }
}

@media only screen and (max-width:1200px){
    .images{
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media only screen and (max-width:768px){
    .images{
        columns: 2;
    }
}

@media only screen and (max-width:480px){
    .images{
        columns: 1;
    }
}
 