.nav{
    width: 100%;
    height: 65px;
    align-content: space-evenly;
    box-shadow: 0 4px 2px -2px gray;
    &__name{
        display: inline-block;
        margin-left: 2.8rem;
        &__image{
            width: 16px;
            height: 16px;
            margin-right: 1rem;
            display: inline-block;
        }
        &__text{
            display: inline-block;
            font-family: 'inter-bold';
            font-size: 1.13rem;
        }
    }

    &__btns{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 1.5rem;
        margin-top: .8rem;
        &__like{
            display: block;
            margin: 0 auto;
        }
        &__home{
            display: block;
            margin: 0 auto;
        }
        &__content{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: .75rem;
            background-color: #F0F2F5;
            margin-right: .5rem;
            align-content: space-evenly;
        }
    }
}
