.search{
    border: 1px solid #DBE0E5;
    width: 24.25em;
    height: 4em;
    border-radius: 0.75em;
    margin: 0 auto;
    margin-top: .8em;
    text-align: center;
    &__content{
        display: inline-block;
        height: 100%;
        &__icon{
            width: 36px;
            height: 100%;
            margin-right: 1rem;
            display: block;
        }
    }
    &__input{
        display: inline-block;
        width: 15.5em;
        height: 100%;
        vertical-align: top;
        border: none;
        margin: 0 .6em;
        &:focus{
            outline: none;
        }
    }
    &__btn{
        display: inline-block;
        width: 6em;
        height: 3em;
        background-color: #2194F2;
        color: #fff;
        border-radius: 0.75em;
        text-align: center;
        align-content: center;
        font-family: 'inter-bold';
        vertical-align: top;
        margin-top: .45em;
        &:hover{
            cursor: pointer;
        }
    }
}

@media only screen and (min-width:1000px){
    .search{
        width: 30em;
        background-color: #fff;
        &__input{
            width: 21.25em;
        }
    }
}