.select{
    display: block;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 15.313em;
    height: 2.5em;
    margin: .7em auto;
    & option{
        color: #3BA0F3;
        font-family: 'inter-bold';
    }
}
