.select{
    display: block;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 15.313em;
    height: 2.5em;
    margin: .7em auto;
    padding-left: 1em;
    & option{
        color: #3BA0F3;
        font-family: 'inter-bold';
    }
}

@media only screen and (min-width:1000px){
    .content{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 100%;
    }
    .select{
        width: 25.313em;
        margin: 0 auto;
        margin-top: 2em;
    }
}
