.tag{
    display: inline-block;
    width:fit-content;
    height: 2em;
    border-radius: 0.75em;
    text-align: center;
    align-content: center;
    padding: 0 1.2em;
    font-family: 'inter-medium';
    margin-left: 1em;
    margin-top: .5em;
    background-color: #F0F2F5;
    &__span{
        font-size: 0.88rem;
    }
    &:hover{
        border: 2px solid black;
        scale: 1.2;
        cursor: pointer;
    }
}

.content__tag{
    margin-top: 1em;
}

@media only screen and (min-width:1000px){
    .content__tag{
        width: 75%;
        height: 100%;
        margin-left: 1.6em;
        align-content: center;
        display: inline-block;
        margin-top: 1em;
        padding-left: 2em;
    }
    .tag{
        margin-top: 1em;
    }
}